<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to first template</title>
  </head>
  <body>
    <h1>Filters</h1>
    <p>Hello Welcome to {{message | upper}}!</p>
    {% if marks > 90 %}
    <p style="color:green">Congratulations! You have scored an A grade.</p>
    {% elif marks > 75 %}
    <p style="color:blue">Well done! You have scored a B grade.</p>
    {% elif marks > 60 %}
    <p style="color:orange">Good effort! You have scored a C grade.</p>
    {% else %}
<p style="color:red;">Keep trying! You need to improve your score.</p>    {% endif %}

 </body>
</html>