<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to first template</title>
  </head>
  <body>
   
   
    <table border="2">
        <tr style="background-color:lightblue;">
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>College Name</th>
        </tr>
        <tr style="background-color:lightgreen;">
            <td>John Doe</td>
            <td>22</td>
            <td>New York</td>
            <td>NYU</td>
        </tr>
        <tr style="background-color:lightyellow;">
            <td>Jane Smith</td>
            <td>21</td>
            <td>Los Angeles</td>
            <td>UCLA</td>
        </tr>
        <tr style="background-color:lightpink;">
            <td>Mike Johnson</td>
            <td>23</td>
            <td>Chicago</td>
            <td>UChicago</td>
        </tr>
    </table>

  </body>
</html>